main {
    margin : 10px;
}

.Menu-Card {
    width  : 300px;
    height : 150px;
    margin-top : 20px;
}

.DateTime {
    display:inline-flex;
}

.DateTime-Hour {
    width:70px;
}

.DateTime-Minute {
    width:70px;
}

.FloatComponent {
    position:absolute;
    border: 1px solid #ced4da;
    background-color: #ffffff;
    border-radius: 4px;
}

.Progress {
    z-index  : 1024;
    position : fixed;
    right    : 20px;
    bottom   : 20px;
}

.Layout-SystemDetail > button {
    background-color:#f8d7da;
    height:20px;
}

.linkText {
  color : blue;

  background: none;
  border: none;
  cursor: pointer;
  display: inline;
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
}


.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}