main {
    margin : 10px;
}

.Menu-Card {
    width  : 300px;
    height : 150px;
    margin-top : 20px;
}

.DateTime {
    display:inline-flex;
}

.DateTime-Hour {
    width:70px;
}

.DateTime-Minute {
    width:70px;
}

.Progress {
    z-index  : 1024;
    position : fixed;
    right    : 20px;
    bottom   : 20px;
}

.Layout-SystemDetail > button {
    background-color:#f8d7da;
    height:20px;
}

.linkText {
  color : blue;

  background: none;
  border: none;
  cursor: pointer;
  display: inline;
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
}